html{
    background: linear-gradient(to left top,rgb(232, 236, 238),rgb(39, 180, 236));
    height: 100vh;
}
h1{
    color: white;
    font-size: 2vw;
    text-align: center;
    height: 10vw;
    line-height: 10vw;
}

a{
    font-size: 1vw;
    height: 3vw;
    font-size: 1vw;
    line-height: 3vw;
    width: 9vw;
    display: block;
    border-radius: 2vw;
    border: 1px rgb(255, 255, 255) solid;
    text-align: center;
    margin:1vw auto;
    color: white;
}
a:hover{
    background-color: rgb(39, 180, 236);
    border: 1px rgb(39, 180, 236) solid;
}

.logout:hover{
    background-color: rgb(239, 76, 76);
    border: 1px rgb(239, 76, 76)  solid;
} 